@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: #ffffff;
  --lightSecondary: #bdbdbc;
  --dark: #202020;
  --darkSecondary: #5e5e5e;
  --highlight: rgba(255, 138, 76, 1);
  --twitter: #5daadf;
}

.theme-dark {
  --text: var(--dark);
  --textSecondary: var(--darkSecondary);
  --background: var(--light);

  --accent: var(--highlight);
}

.theme-light {
  --text: var(--light);
  --textSecondary: var(--lightSecondary);
  --background: var(--dark);

  --accent: var(--highlight);
}
